{% extends "base.html" %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

{% block title %}Chart (testing){% endblock %}

{% block content %}
<h3>Chart (testing)</h3>

<div id="fw_container" style="width:50%; height:400px; float:left;"></div>
<div id="wf_container" style="width:50%; height:400px; float:right;"></div>

<script>
    $(function () {
    $('#fw_container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Current Fireworks Activity'
        },
        tooltip: {
    	    pointFormat: '<b>{point.y}</b> ({point.percentage:.2f}%)'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: 35,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '{point.name}:<br> <b>{point.y}</b> ({point.percentage:.2f}%)'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Fireworks',
            data: [
                ['ARCHIVED', 943],
                ['DEFUSED', 921],
                ['WAITING', 94866],
                ['READY', 25342],
                ['RESERVED', 981],
                ['FIZZLED', 63],
                ['RUNNING', 57],
                ['COMPLETED', 164730]
            ]
        }]
    });

    $('#wf_container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Current Workflow Activity'
        },
        tooltip: {
    	    pointFormat: '<b>{point.y}</b> ({point.percentage:.2f}%)'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: 35,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '{point.name}:<br> <b>{point.y}</b> ({point.percentage:.2f}%)'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Workflows',
            data: [
                ['ARCHIVED', 303],
                ['DEFUSED', 839],
                ['WAITING', 0],
                ['READY', 25888],
                ['RESERVED', 0],
                ['FIZZLED', 61],
                ['RUNNING', 592],
                ['COMPLETED', 53553]
            ]
        }]
    });
});
</script>
<!--
{% load chart_tags %}
{% chart %}
     chxr=0,0,160
     chxt=y
     chbh=a
     chs=440x220
     cht=bvs
     chco=4D89F9
     chds=0,160
     chd=t:10,50,60,80,40,60,30
     chtt=Horizontal+bar+chart
{% endchart %}

{% chart %}
     chxr=0,0,160
     chxt=y
     chbh=a
     chs=440x220
     cht=bvs
     chco=4D89F9
     chds=0,160
     chd=t:{{ values|join:',' }}
     chtt=Horizontal+bar+chart
{% endchart %}

<script type="text/javascript" src="/static/chart.js"></script>
-->
{% endblock %}