{% extends "base.html" %}

{% block title %}FireWorks Index{% endblock %}

{% block content %}
<h3>{{ fws }} FireWork{{ fws|pluralize }} currently in database</h3>

<table border="1">
    <tfoot>Click an ID for more information about that FireWork.</tfoot>
    <tr>
        <th>IDs</th>
        <th>Names</th>
    </tr>
    {% for ids, names in fw_info %}
        <tr>
            <td><center><a href="/fw/{{ ids }}">{{ ids }}</a></center></td>
            <td>{{ names }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}