{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h3>{{ num_ids }} Current Activity:</h3>

<table border="1">
    <tr>
        <th></th>
        <th><a href="{{ url }}fw">FireWorks</a></th>
        <th><a href="{{ url }}wf">WorkFlows</a></th>
    </tr>
    <tr>
        <td><div align="right">ARCHIVED</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ arc_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ arc_wfs }}</a></center></td>
    </tr>
    <tr>
        <td><div align="right">DEFUSED</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ def_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ def_wfs }}</a></center></td>
    </tr>
    <tr>
        <td><div align="right">WAITING</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ wait_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ wait_wfs }}</a></center></td>
    </tr>
    <tr>
        <td><div align="right">READY</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ ready_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ ready_wfs }}</a></center></td>
    </tr>
    <tr>
        <td><div align="right">RESERVED</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ res_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ res_wfs }}</a></center></td>
    </tr>
    <tr>
        <td><div align="right">FIZZLED</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ fizz_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ fizz_wfs }}</a></center></td>
    </tr>
    <tr>
        <td><div align="right">RUNNING</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ run_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ run_wfs }}</a></center></td>
    </tr>
    <tr>
        <td><div align="right">COMPLETED</div></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ comp_fws }}</a></center></td>
        <td><center><a href="{{ url }}{{ ids }}">{{ comp_wfs }}</a></center></td>
    </tr>
    <tr>
        <th><div align="right">TOTAL</div></th>
        <td><center><a href="{{ url }}fw">{{ tot_fws }}</a></center></td>
        <td><center><a href="{{ url }}wf">{{ tot_wfs }}</a></center></td>
    </tr>
    </table>
{% endblock %}