{% extends "base.html" %}

{% block title %}Testing{% endblock %}

{% block content %}
<h3>Testing</h3>

<table border="1" style="display:inline-block;">
    <tr>
        <th>IDs</th>
    </tr>
    {% for ids in fws %}
    <tr>
        <td><a href="/fw/{{ ids }}">{{ ids }}</a></td>
    </tr>
    {% endfor %}
    </table>
<table border="1" style="display: inline-block;">
    <tr>
        <th>Names</th>
    </tr>
    {% for names in fw_names %}
    <tr>
        <td>{{ names }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}