{% extends "base.html" %}

{% block title %}Testing{% endblock %}

{% block content %}
<h3>Testing</h3>

<!--CHART-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<!--<script type="text/javascript" src='{{ STATIC_URL }}chart.js'></script>-->

<script>
    var arc_fws   = {{ arc_fws }};
    var def_fws   = {{ def_fws }};
    var wait_fws  = {{ wait_fws }};
    var ready_fws = {{ ready_fws }};
    var res_fws   = {{ res_fws }};
    var fizz_fws  = {{ fizz_fws }};
    var run_fws   = {{ run_fws }};
    var comp_fws  = {{ comp_fws }};
    var tot_fws   = {{ tot_fws }};

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Fireworks',
                x: -20 //center
            },
            subtitle: {
                text: 'Activity',
                x: -20
            },
            xAxis: {
                categories: ['start', 'now']
            },
            yAxis: {
                title: {
                    text: 'Number of Fireworks'
                },
                min: 0
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'ARCHIVED',
                data: [1, arc_fws]
            }, {
                name: 'DEFUZED',
                data: [1, def_fws]
            }, {
                name: 'WAITING',
                data: [1, wait_fws]
            }, {
                name: 'READY',
                data: [1, ready_fws]
            }, {
                name: 'RESERVED',
                data: [1, res_fws]
            }, {
                name: 'FIZZLED',
                data: [1, fizz_fws]
            }, {
                name: 'RUNNING',
                data: [1, run_fws]
            }, {
                name: 'COMPLETED',
                data: [1, comp_fws]
            }, {
                name: 'TOTAL',
                data: [1, tot_fws]
            }]
        });
    });
</script>

{% endblock %}