{% extends "base.html" %}

{% block title %}Current Workflows{% endblock %}

{% block content %}
<h3>{{ wfs }} Workflow{{ wfs|pluralize }} currently in database</h3>

<table border="1">
    <tfoot>Click an ID for more information about that Workflow.</tfoot>
    <tr>
        <th>Workflow IDs</th>
    </tr>
        {% for ids in wfs_shown %}
            <tr>
                <td><center><a href="/wf/{{ ids }}">{{ ids }}</a></center></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}