{% extends "base.html" %}

{% block title %}Workflows Index{% endblock %}

{% block content %}
<h3>{{ wfs }} Workflow{{ wfs|pluralize }} currently in database</h3>

<table border="1">
    <tfoot>Click an ID for more information about that Workflow.</tfoot>
    <tr>
        <th>IDs</th>
        <th>Names</th>
    </tr>
    {% for ids, names in wf_info %}
        <tr>
            <td><center><a href="/wf/{{ ids }}">{{ ids }}</a></center></td>
            <td>{{ names }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}