<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<style type="text/css">
    body {font-family: "Lucida Sans Unicode", sans-serif}
    a {text-decoration: none}
    table, td, th, thead {border: none; font-size: 95%}
    th {background-color: #bbbbbb;}
    table tr:nth-child(even) { background-color: #dddddd}
    #fw_logo { width: 200px; float: left; margin-left: 100px; }
    h1 { margin-left: 50px; float: left; }
   h2 { clear: both; }
</style>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

{% load staticfiles %}

<body><center>
 <img src="{% static "FireWorks_logo.png" %}" id="fw_logo">&nbsp;</img>
    <h1>Workflow Dashboard</h1>
    
    {% block content %}{% endblock %}
    
    {% block footer %}
    <hr>
    <h5><a href="/home">Home</a> |
        <a href="/fw">Fireworks Index</a> |
        <a href="/wf">Workflows Index</a> |
        <a href="/testing">Testing</a>
        <br><br>
        &copy Copyright 2013, <a href="http://pythonhosted.org/FireWorks/">FireWorks</a>.</h5>
    {% endblock %}
</center></body>
</html>
