{% extends "base.html" %}
{% load humanize %}

{% block title %}Fireworks Index{% endblock %}

{% block content %}
<h2>{{ fws|intcomma }} Firework{{ fws|pluralize }} currently in database</h2>

<!-- FILTERS / NAVIGATION -->
<h5><center><a href="/fw/newest">NEWEST</a> |
        <a href="/fw/archived">ARCHIVED</a> |
        <a href="/fw/defused">DEFUSED</a> |
        <a href="/fw/waiting">WAITING</a> |
        <a href="/fw/ready">READY</a> |
        <a href="/fw/reserved">RESERVED</a> |
        <a href="/fw/fizzled">FIZZLED</a> |
        <a href="/fw/running">RUNNING</a> |
        <a href="/fw/completed">COMPLETED</a>
</center></h5>

<!-- TABLE -->
<table border="1">
    <tfoot>Click an ID for more information about that Firework.</tfoot>
    <tr><th colspan="3">Newest Fireworks</th></tr>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>State</th>
    </tr>
    {% for ids, names, states in display %}
        <tr>
            <td><center><a href="/fw/{{ ids }}">{{ ids }}</a></center></td>
            <td>{{ names }}</td>
            <td><center>{{ states }}</center></td>
        </tr>
    {% empty %}
        <tr><td colspan="3"><center>(no fireworks in database)</center></td></tr>
    {% endfor %}
</table>

<!-- PAGINATION / NAVIGATION -->
<div class="pagination">
    <span class="step-links">
        {% if display.has_previous %}
            {% if display.previous_page_number != 1 %}
                <a href="?page=1">&lt&lt</a>
            {% endif %}
            <a href="?page={{ display.previous_page_number }}">&lt</a>
        {% endif %}

        <span class="current">
            {{ display.number }} of {{ display.paginator.num_pages }}
        </span>

        {% if display.has_next %}
            <a href="?page={{ display.next_page_number }}">&gt</a>
            {% if display.next_page_number != display.paginator.num_pages %}
                <a href="?page={{ display.paginator.num_pages }}">&gt&gt</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock %}