include LICENSE *.txt
include user_objects/queue_adapters/*.txt
include user_objects/firetasks/templates/*.txt
recursive-include fireworks *
recursive-include docs *
recursive-include fw_tutorials *
recursive-include scripts *
recursive-include base_site *
