[tool.black]
line-length = 120

[tool.mypy]
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true

scripts_are_modules = true
warn_unused_configs = true

# disallow_any_unimported = true
# disallow_any_decorated = true
# disallow_any_explicit = true
# disallow_any_expr = true
# disallow_any_generics = true
# disallow_subclassing_any = true

# disallow_untyped_calls = true
# disallow_untyped_defs = true

# check_untyped_defs = true

# disallow_untyped_decorators = true

no_implicit_optional = true

strict_equality = true

[[tool.mypy.overrides]]
module = [
    "argcomplete",
    "atomate",
    "atomate.vasp",
    "atomate.vasp.workflows",
    "fabric",
    "fireworks_schema",
    "flask_paginate",
    "graphviz",
    # https://github.com/benoitc/gunicorn/pull/2377
    "gunicorn",
    "gunicorn.app",
    "gunicorn.app.base",
    "igraph",
    "invoke",
    "matplotlib",
    "matplotlib.backends.backend_agg",
    "matplotlib.figure",
    "matplotlib.pyplot",
    "matplotlib.ticker",
    "monty",
    "monty.design_patterns",
    "monty.dev",
    "monty.io",
    "monty.json",
    "monty.os",
    "monty.os.path",
    "monty.serialization",
    "monty.shutil",
    "pymatgen.core",
    "pytest",
    # https://github.com/tqdm/tqdm/issues/260
    "tqdm",
]
ignore_missing_imports = true
