<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flat-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block morehead %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>


<body>
    <div class="container">
        <a href="/" >
            <img  class="brand" src="{{ url_for('static', filename='images/fw-logo.png') }}"></img>
        </a>
    </div>
    <hr>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    
    {% block footer %}
    <hr>
    <footer class="footer container text-center">
        <div class="pull-up">
            &copy Copyright 2015, <a href="http://pythonhosted.org/FireWorks/">FireWorks</a>.</h5>
        </div>
    </footer>
    {% endblock %}

</body>
</html>
