{% extends "base.html" %}
{% block title %}{{ state }} Fireworks Index{% endblock %}

{% block content %}
<h3 class="text-center">{{ '{:,}'.format(fw_count) }} {{ state|lower }} Firework{{ fw_count|pluralize }}</h3>

<!-- TABLE -->
<table class="table table-bordered">
    <tr><th colspan="2">
        <span class="label {{state}}">{{ state }} </span> Fireworks
    </th></tr>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created On</th>
    </tr>
    {% for row in rows %}
        <tr>
            <td><center><a href="/fw/{{ row.fw_id }}">{{ row.fw_id }}</a></center></td>
            <td>{{ row.name }}</td>
            <td>{{ row.created_on|datetime }}</td>
        </tr>
    {% endfor %}
</table>

{{ pagination.links|safe }}

{% endblock %}