{% extends "base.html" %}
{% block title %}FireWorks Dashboard{% endblock %}

{% block content %} 
{% import 'state.html' as state_tmpl with context %}
	
 <div class="row">
    <div class="span12">
        <h3 class="text-center">Workflow Dashboard</h3>
    </div>
 </div>

<div class="row pull-down">
    <div class="span6">
        <table class="table table-bordered">
            <tr><th colspan="3"><a href="/wf">Newest Workflows</a></th></tr>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>State</th>
            </tr>
            {% for wf in wf_info %}
                <tr>
                    <td><center><a href="/wf/{{ wf.id }}">{{ wf.id }}</a></center></td>
                    <td>
                        <div>
                            {{ wf.name }}
                        </div>
                        {% for fw  in wf.fireworks %}
                            <small><a class="fw-link" href="/fw/{{ fw.fw_id }}">{{fw.name}}</a></small>
                        {% endfor %}
                    </td>
                    <td>{{ state_tmpl.state(state) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="span6">
        <table class="table table-bordered">
            <tr><th colspan="3">Current Database Status</th></tr>
            <tr>
                <th></th>
                <th><a href="/fw">Fireworks</a></th>
                <th><a href="/wf">Workflows</a></th>
            </tr>
            {% for states, fw_info, wf_info in info %}
                <tr>
                    <td>{{ state_tmpl.state(states) }}</td>
                    <td><center><a href="/fw/{{ states }}">{{ fw_info }}</a></center></td>
                    <td><center><a href="/wf/{{ states }}">{{ wf_info }}</a></center></td>
                </tr>
            {% endfor %}
            <tr>
                <th><div align="right">TOTAL</div></th>
                <td><center><a href="/fw">{{ tot_fws }}</a></center></td>
                <td><center><a href="/wf">{{ tot_wfs }}</a></center></td>
            </tr>
        </table>
    </div>
</div>
<!-- TABLES -->

{% endblock %}
