{% extends "base.html" %}
{% block title %}FireWorks Report{% endblock %}

{% block content %}

{% if PLOTTING %}
<div class="report_images">
    <div class="imgContainer">
        <img src="/reports/fireworks/{{ interval }}/{{ num_intervals }}/fig.png" width="450px">
    </div>
    <div class="imgContainer">
        <img src="/reports/workflows/{{ interval }}/{{ num_intervals }}/fig.png" width="450px">
    </div>
</div>
{% else %}
<p>
    <em>Please install matplotlib to see plots.</em>
</p>
{% endif %}


<h3 class="text-center">FireWorks Report</h3>

<pre>
{{ fw_report_text }}
</pre>

<h3 class="text-center">Workflows Report</h3>

<pre>
{{ wf_report_text }}
</pre>

{% endblock %}