footer .navbar .nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.brand {
	margin-top: 20px;
	max-width: 170px;
}

.pull-down {
	margin-top: 30px;
}

.pull-down-sm {
  margin-top: 10px;
}

.pull-up { margin-bottom: 30px;}

.fw-link {
	border-bottom: 1px dotted;
	margin-left: 10px;
}

.table td{
	vertical-align: middle;
}


.label {
  font-size: 11px;
  letter-spacing: .08em;
  color: #fff;
}

.fw-link{
  color: white;
  padding:2px 5px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #aaa;
}

.fw-link:hover{
  color:white;
  opacity: .7;
}

.fw-link.WAITING:hover{
  color:#1BB38D;
  opacity: .7;
}

.READY{
  background: #2E92F2;
}

.WAITING{
  background: #1F62A2;
}


.FIZZLED{
  background: #DB0051;
}

.COMPLETED{
  background: #24C75A;
}

.RUNNING{
  background: #F4B90B;
}
.RESERVED{
  background: #BB8BC1;
}

.ARCHIVED{
  background: #7F8287;
}

.DEFUSED{
  background: #B7BCC3;
}

.total{
  color: #405063;
  background: none;
  font-weight: bold;
}

/* cytoscape tweaks from charris */
#cy {
    width: 100%;
    height : 500px;
    border: 1px solid grey;
}

