footer .navbar .nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.brand {
	margin-top: 10px;
	max-width: 100px;
    float:left
}

.pull-down {
}

.pull-down-sm {
}

.pull-up { margin-bottom: 30px;}

.fw-link {
	border-bottom: 1px dotted;
	margin-left: 10px;
}

.table td{
	vertical-align: middle;
}


.label {
  font-size: 11px;
  letter-spacing: .08em;
  color: #fff;
}

.fw-link{
  color: white;
  padding:2px 5px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #aaa;
}

.fw-link:hover{
  color:white;
  opacity: .7;
}

.fw-link.WAITING:hover{
  color:#1BB38D;
  opacity: .7;
}

.READY{
  background: #2E92F2;
}

.WAITING{
  background: #1F62A2;
}


.FIZZLED{
  background: #DB0051;
}

.COMPLETED{
  background: #24C75A;
}

.RUNNING{
  background: #F4B90B;
}
.RESERVED{
  background: #BB8BC1;
}

.ARCHIVED{
  background: #7F8287;
}

.DEFUSED{
  background: #B7BCC3;
}

.PAUSED{
  background: #FFCFCA;
}

.total{
  color: #405063;
  background: none;
  font-weight: bold;
}

/* cytoscape tweaks from charris */
#cy {
    width: 100%;
    height : 500px;
    border: 1px solid grey;
}

form.query input {
    margin-bottom: 10px;
    width: 18em;
}

form.query label {
    display: inline-block;
    vertical-align: super;
}

form.query button[type=submit] {
    margin-left: 70px;
    width: 256px;
}

.imgContainer{
    float:left;
}

hr.myhrline{
 margin:5px;
}