{% extends "base.html" %}

{% block title %}Current FireWorks{% endblock %}

{% block content %}
<h3>{{ fw_ids|length }} FireWork{{ fw_ids|pluralize }} currently in database</h3>

<table border="1">
    <tfoot>Click an ID for more information about that FireWork.</tfoot>
    <tr>
        <th>FireWork IDs</th>
    </tr>
    {% for ids in fw_ids %}
        <tr>
            <td><center><a href="{{ url }}{{ ids }}">{{ ids }}</a></center></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}